.ExploreMain {
  padding: 1rem 8rem;
  min-height: calc(100vh - 3.6rem);

  background-color: #F9EAE1;
}

.ExploreHeader {
  margin: 1rem 0;
  color: #41362f;
  font-size: 3rem;
}

.ExploreItems {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}