.ExploreProductLink {
  color: inherit;
  text-decoration: none;
  margin: 1rem 2rem;
}

.ExploreProduct {
  height: 25rem;
  width: 20rem;

  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  position: relative;

  display: flex;
  flex-direction: column;

  cursor: pointer;
  transition: transform 150ms ease-in;
}

.ExploreProduct:hover {
  transform: translateY(-2px);
}

.ExploreProductImage {
  width: 100%;
  height: 80%;
  border-radius: 15px 15px 0 0;
  background-color: #fafafa;
}

.ExploreProductImage img {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;

  object-fit: contain;
}

.ExploreProductTitle {
  padding: 0 12px;
  padding-top: 3px;
  font-weight: 600;
  font-size: 1.1rem;
}

.ExploreProductDescription {
  height: 100%;
  padding: 0 12px;
  font-size: 0.9rem;
  color: #535353;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ExploreProductPrice {
  height: 2.5rem;
  width: 30%;

  border-radius: 10px 0 0 10px;
  background-color: #202020;

  color: #fafafa;
  font-size: 1.3rem;

  position: absolute;
  top: 10%;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: default;
}

.ExploreProductMeta {
  height: 20%;
  display: flex;
  flex-direction: column;
}

.ExploreProductTime {
  padding: 5px 10px;

  display: flex;
  justify-content: flex-end;

  font-size: 0.8rem;
  font-weight: 100;
}

.ExploreProductTimeHeader {
  font-weight: 600;
}

.ExploreProductTimeDetail {
  width: 3.2rem;
  padding-left: 5px;
}