body {
  background-color: #f7fafb;
}

.AuthMain {
  height: 100%;
  width: 100%;
}

.AuthSection {
  height: 630px;
  margin: 50px 230px;

  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: flex;
  border-radius: 60px;
}

.AuthLeft {
  flex: 3.5;
  background-size: cover;
}

.AuthRight {
  flex: 6.5;
}

.AuthForm {
  display: flex;
  flex-direction: column;
}

.AuthForm input {
  padding-top: 10px;
  padding-left: 5px;
  height: 35px !important;

  font-family: inherit;
  font-size: 1.1rem;
}

.AuthImg {
  border-radius: 50px 0px 0px 50px;
  height: 100%;
}

.AuthHeader {
  margin-left: 20px;
  margin-top: 100px;
  margin-bottom: 20px;
}

#fname,
#pass,
#lname,
#mail,
#no {
  margin-top: 20px;
  margin-left: 10px;
  padding-bottom: 10px;
  background: none;
  width: 440px;
  height: 20px;
  border-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%) 1;
  border-width: 0px 0px 4px 0px;
}

.AuthButton {
  margin-top: 30px;
  margin-left: 120px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
  color: white;
  text-decoration: none;
  outline: 0;
  border-width: 0px 0px 4px 0px;
  width: 200px;
  height: 35px;
  border-radius: 15px;
}

.AuthRight a {
  text-decoration: none;
}

.AuthRight p {
  margin-top: 50px;
}