nav {
  height: 3.6rem;
  width: 50%;
  padding: 1rem 2rem;

  background-color: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 1.2rem;

  position: fixed;
  top: 0px;
  z-index: 5;
}

.navFull {
  width: 100%;
  left: 0;

  position: sticky;
}

.navHalf {
  left: 50%;
}

.navFull {
  width: 100%;
}

.navLogo {
  height: 24px;
}

.content {
  color: #444444;

  display: flex;
  justify-content: space-evenly;
}

.content a {
  color: inherit;
  margin: 0 1rem;
  text-decoration: none;
  cursor: pointer;
}

.content a:hover {
  color: #000000;
}

.profileContainer {
  position: relative;
}

.profile {
  margin-left: 1rem;
  padding: 4px 5px;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: #EEEEEE;
  border-radius: 6px;

  transition: 100ms background-color linear;
}

.profile:hover {
  background-color: #DDDDDD;
}

.dropdown {
  position: absolute;
  right: -20%;
  top: 120%;

  background: white;
  color: #E3DFE9;
  font-size: 18px;

  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 15px;
  transform: scale(0.01);
  opacity: 0;

  display: block;
  cursor: pointer;

  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease 0.15s;
  transform-origin: right top;
  overflow: hidden;

  z-index: 10;
}

.dropdown.open {
  transform: scale(1);
  opacity: 1;
  box-shadow: 3px 3px 2rem rgba(118, 96, 168, 0.15);
}

.dropdown div {
  padding: 0.5rem 1.2rem;

  color: #444444;
  text-decoration: none;
  white-space: nowrap;

  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: color 0.2s ease, background-color 0.2s ease, padding-left 0.2s ease;
}

.dropdown div:hover {
  background-color: #EEE;
}

.dropdown div svg {
  margin-right: 0.5rem;
}

.menu {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.menu span {
  height: 2px;
  background-color: #444444;

  border-radius: 4px;
  transition: all 300ms ease;

  display: block;
}

.line1 {
  width: 13px;
}

.line2 {
  width: 20px;
}

@media only screen and (max-width: 768px) {
  nav {
    width: 100%;
  }

  .navHalf {
    left: unset;
  }

  .dropdown {
    font-size: 1.3rem;
  }
}
