body {
  background-color: #f7fafb;
}

.AuthMain {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  padding: 15vh 0;
  position: relative;
  top: -5vh;
}

.AuthSection {
  width: 75%;

  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: flex;
  border-radius: 60px;
}

.AuthLeft {
  flex: 3.5;
  background-size: cover;
}

.AuthRight {
  padding-top: 10vh;
  flex: 6.5;
  display: flex;
  justify-content: center;
}

.AuthForm {
  display: flex;
  flex-direction: column;
}

.AuthForm input {
  padding-top: 10px;
  padding-left: 5px;
  height: 35px !important;

  font-family: inherit;
  font-size: 1.1rem;
}

.AuthImg {
  border-radius: 50px 0px 0px 50px;
  height: 100%;
}

.AuthHeader {
  padding-left: 20px;
  padding-bottom: 50px;
}

#fname,
#pass,
#lname,
#mail,
#no {
  margin-top: 20px;
  padding-bottom: 10px;
  background: none;
  width: 25vw;
  border-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%) 1;
  border-width: 0px 0px 4px 0px;
}

.AuthButton {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
  color: white;
  text-decoration: none;
  outline: 0;
  border-width: 0px 0px 4px 0px;
  width: 200px;
  height: 35px;
  border-radius: 15px;
  align-self: center;
}

.AuthRight a {
  text-decoration: none;
}

.AuthRight p {
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .AuthMain {
    height: 100%;
  }

  .AuthSection {
    padding: 10vh 0;
    width: 85%;
    flex-direction: column;
  }

  .AuthRight {
    padding-top: unset;
    flex: 1;
    align-items: center;
  }

  .AuthLeft {
    display: none;
  }

  #fname,
  #pass,
  #lname,
  #mail,
  #no {
    width: 65vw;
  }
}
